.box1{
    width:200px;
    height:300px;
    background-color:blue;
    padding-left: 20px;
    
    
}
.upperbox1{

     width: 150px;
     height: 100px;
     background-color: white;
     border: 1px solid black;

}
.box2{
    width:300px;
    height:240px;
    background-color:plum;
    padding-left: 20px;
    position: absolute;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: radial-gradient(red,green,blue);
    margin-top: 29px;
    margin-left: 30px;
}

.box3{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 300px;
    border: 1px solid black;
}

.box3 .green{
    width: 125px;
    height: 201px;
    margin-top: -1px;
    background-color: green;
}

.box3 .red {
    width: 125px;
    height: 201px;
    margin-top: -201px;
    margin-left: 277px;
    background-color: red;
}
.box4{
    width:320px;
    height:200px;
    background-color:black;

}

