*{
    margin:0;
    padding:0;
}
h1{
    text-align:center;
    color: red;
    background-color:lightskyblue;
    padding:10px;
}
.box{
    display:flex;
}
.box1{
    display:flex;
    margin-top: 10px;
    width: 254px;px;
    height:378px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
    border-radius:7%;
    margin-left:60px;

}
.box2{
    display:flex;
    width: 254px;px;
    height:378px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
    border-radius:7%;
    margin-left:60px;
    margin-top:50px;
}
.box3{
    width: 254px;px;
    height:378px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
    border-radius:7%;
    margin-left:60px;
    margin-top:50px;
}
.box4{
    width: 254px;px;
    height:378px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
    border-radius:7%;
    margin-left:60px;
    margin-top:50px;
}
h2{
    text-align:c;
}

